.foodlymentor_shopping_cart_content ul {
  list-style: none;
  margin: 0;
}
.foodlymentor_shopping_cart_content ul li img {
  max-width: 60px;
  margin-right: 10px;
}
.foodlymentor_shopping_cart_content dd, .foodlymentor_shopping_cart_content dd p {
    margin: 0;
}