.foodlymentor_shopping_cart_content .cart-title {
  margin-bottom: 10px;
}
.foodlymentor_shopping_cart_content ul {
  list-style: none;
  margin: 0;
  padding-left: 5px;
}
.foodlymentor_shopping_cart_content ul li {
  padding: 5px 0;
  position: relative;
  margin-bottom: 12px;
  box-shadow: 0px 1px 5px #33333345;
  padding: 10px;
}
.foodlymentor_shopping_cart_content ul li img {
  max-width: 60px;
  margin-right: 10px;
}
.foodlymentor_shopping_cart_content dd,
.foodlymentor_shopping_cart_content dd p {
  margin: 0;
}
.foodlymentor_shopping_cart_content dl.variation {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 10px;
}
.foodlymentor_shopping_cart_content a.remove.remove_from_cart_button {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -10px;
}
