#foodlymentor_addi_options_box .cmb-repeat-table .cmb-td {
  display: flex;
  gap: 10px;
}
.cmb2-wrap input {
  max-width: 110px;
}
.elementor-control-foodlymentor_font_size_factor .elementor-slider-input input {
  visibility: hidden;
}
